@model IEnumerable<Reservation>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervasiyalarım</title>
    <link rel="stylesheet" href="~/css/my_reservations_page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="back-button">
                <a asp-controller="Account" asp-action="Logout"><i class="fas fa-chevron-left"></i></a>
            </div>
        </div>

        <div class="title-container">
            <h1 class="title">Rezervasiyalarım</h1>
            <p class="subtitle">Görmək istədiyin tarixi seç və rezervlərini yoxla</p>
        </div>

        <div class="date-selector">
            <form method="post" asp-controller="Reservation" asp-action="ReservationList" class="date-form">
                <input type="text" name="selectedDate" id="selectedDate" class="calendar-input" placeholder="Tarix seçin" required />
                <button class="search-button" type="submit">Axtar</button>
            </form>
        </div>



        <div class="reservations-list">
            @foreach (var reservation in Model)
            {
                <div class="reservation-card">
                    <div class="reservation-time">@reservation.Time</div>
                    <div class="customer-name">@reservation.FullName</div>
                    <div class="customer-phone">@reservation.PhoneNumber</div>
                </div>
            }

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#selectedDate", {
            dateFormat: "Y-m-d",
            minDate: "today",
            locale: {
                firstDayOfWeek: 1
            }
        });
    </script>
</body>
</html>