@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUTIFY - Bərbər Rezervasiyası</title>
   
    <link rel="stylesheet" href="~/css/home_page.css" />
</head>
<body>
    <div class="logo-container">
        <div class="logo">CUTIFY</div>
    </div>

    <div class="container">
        <img src="~/img//bg image.png" alt="Barber cutting hair" class="main-image">
        <div class="content">
            <h1 class="title">Asan və sürətli bərbər rezervasiyası</h1>
            <p class="description">Sevdiyin bərbəri seç, sənə uyğun saatı cəmi bir neçə addımda rezerv et.</p>
            <div class="buttons-container">
                <a asp-controller="Reservation" asp-action="SelectBarber" class="reserve-button">Rezerv et</a>
                <a asp-controller="Account" asp-action="Login" class="barber-login">Bərbər kimi daxil ol</a>
            </div>
        </div>
    </div>
</body>
</html>